$ds-color-absolute-white: #FFFFFF;
$ds-color-background: #E5E5E5;
$ds-color-sidebar: #EEF1F6;
$ds-color-divider: #D1D8E0;
$ds-color-gray: #F2F2F2;
$ds-color-text-primary: #3D3D3D;
$ds-color-text-secondary: #A3A3A3;
$ds-color-green-primary: #E4F6EA;
$ds-color-green-secondary: #76C792;
$ds-color-blue-primary: #E5EEFF;
$ds-color-blue-secondary: #027AFC;
$ds-color-red-primary: #FEE6E6;
$ds-color-red-secondary: #F26A66;
$divider-size-top: 85px;
$sidebar-size: 220px;